@model IEnumerable<Group>
@{
    ViewData["Title"] = "成果展示";
    var groupsWithFields = (List<Dictionary<string,string>>)ViewData["GroupsWithFields"];
}

<h1>已完成校对的条目</h1>

<table class="table table-bordered" style="font-size: 200%">
    <tr>
        <th>#</th>
        <th>罗马字</th>
        <th>汉字</th>
        <th>英文</th>
    </tr>
    @{var i = 0;}
    @foreach (var item in Model)
    {
        <tr><td colspan="4"> @await Component.InvokeAsync("DisplayGroup", new { GroupId = item.GroupId })</td></tr>
        <tr>
            <td>@item.GroupId</td>
            <td>@groupsWithFields[i]["TextBUC"]</td>
            <td>@groupsWithFields[i]["TextChinese"]</td>
            <td>@groupsWithFields[i]["TextEnglish"]</td>
        </tr>
        i++;
    }
</table>

@{
    var pager = (Pager)ViewData["pager"];
    var prevDisabled = !pager.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !pager.HasNextPage ? "disabled" : "";
}

<a asp-action="PresentGroupsInOneCollection"
   asp-route-page="@(pager.PageIndex - 1)"
   class="btn btn-default @prevDisabled btn">
    上一页
</a>
<a asp-action="PresentGroupsInOneCollection"
   asp-route-page="@(pager.PageIndex + 1)"
   class="btn btn-default @nextDisabled btn">
    下一页
</a>

第 @pager.PageIndex / @pager.TotalPages 页
