@model IEnumerable<Group>
@{
    ViewData["Title"] = "条目列表";
}

<form asp-controller="Admin"  asp-action="ListGroupsInOneCollection" method="get" role="form">
    SearchFileName:<input id="SearchFileName" name="SearchFileName" type="text" value="@ViewData["SearchFileName"]"/>
    Flagged: <input id="ShowFlagged" name="ShowFlagged" type="checkbox" value="true" checked="@((bool)ViewData["ShowFlagged"])" />
    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<h1>Collection #@ViewData["CollectionId"] 中的全部条目</h1>

<table class="table table-bordered">
    <tr>
        <th>GroupId</th>
        <th>Image</th>
        <th>Actions</th>
        <th>Flags</th>
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.GroupId</td>
            <td>@await Component.InvokeAsync("DisplayGroup", new { GroupId = item.GroupId })
            @await Component.InvokeAsync("GroupFileName", new { GroupId = item.GroupId })</td>
            <td>
                <a>EditMetadata</a> |
                <a asp-controller="CrowdSource" asp-action="EditGroup" asp-route-id="@item.GroupId">编辑</a> | 
                <a asp-controller="Admin" asp-action="GroupDetails" asp-route-id="@item.GroupId">编辑历史</a> | 
                <a asp-controller="Admin" asp-action="GroupDelete" asp-route-id="@item.GroupId">Delete</a> 
            </td>
            <td>
                @item.FlagType?.ToString()
            </td>
        </tr>
    }
</table>

@{
    var pager = (Pager)ViewData["pager"];
    var prevDisabled = !pager.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !pager.HasNextPage ? "disabled" : "";
}

<a asp-action="ListGroupsInOneCollection"
   asp-route-ShowFlagged="@ViewData["ShowFlagged"]"
   asp-route-page="@(pager.PageIndex - 1)"
   asp-route-SearchFileName="@ViewData["SearchFileName"]"
   class="btn btn-default @prevDisabled btn">
    Previous
</a>
<a asp-action="ListGroupsInOneCollection"
   asp-route-ShowFlagged="@ViewData["ShowFlagged"]"
   asp-route-page="@(pager.PageIndex + 1)"
   asp-route-SearchFileName="@ViewData["SearchFileName"]"
   class="btn btn-default @nextDisabled btn">
    Next
</a>

Page @pager.PageIndex / @pager.TotalPages
