@*
  录入View
    同时录入  罗马字、汉字、英文
  
    这个View 同时也用作管理和校对。
*@
@model GroupViewModel
@{ 
    Object tmp = null;
    ViewData.TryGetValue("Review", out tmp);
    bool isReview = false;

    if (tmp !=null && (bool)tmp)
    {
        isReview = true;
    }

    bool isAdmin = (bool)ViewData["Admin"];
}
@{
    string SubmitButtonText;
    if (!isReview)
    {
        SubmitButtonText = "提交 & 下一条(ENTER)";
        ViewData["Title"] = "编辑 / 录入";
    }
    else
    {
        SubmitButtonText = "保存修改";
        ViewData["Title"] = "校对";
    }
}
@if (isReview)
{
    <h1>校对</h1>
}
else
{
    <h1>录入 / 编辑</h1>
}


<form asp-controller="CrowdSource" asp-action="SubmitGroup" method="post" role="form" autocomplete="off">
    <div class="panel panel-warning">
        <div class="panel-heading">编号 #@Model.GroupId</div>
        <div class="panel-body" style="height: 130px; overflow: scroll;">
            @await Component.InvokeAsync("DisplayGroup", new { GroupId = Model.GroupId })
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">预览 (<a id="previewerToggle">显示/隐藏</a>)</div>
        <div class="panel-body"  id="previewPanel">
            @await Html.PartialAsync("_PreviewerPartial")
        </div>
    </div>
    <input type="hidden" asp-for="GroupId" />
    <div class="row">
        
        
    </div>
    @*
        提示行    
    *@
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>罗马字</h3>
            <input class="form-control" asp-for="TextBUC" />
        </div>
        <div class="col-md-3">
            <h3>汉字<a target="_blank" class="text text-info" href="~/help/index.html#chinese" style="font-size:80%">繁体字/疑难字帮助</a></h3>

            <input class="form-control" asp-for="TextChinese" />
            <div class="row">
                <h4>标志</h4>
                <div class="col-sm-6"><img src="~/images/oral.png" height="20" />：<input class="checkbox-inline" asp-for="IsOral" /></div>
                <div class="col-sm-6">
                    <img src="~/images/literary.png" height="20" />：<input class="checkbox-inline" asp-for="IsLiterary" />
                </div>
            </div>
            <div class="row">
                <h4>单字条目 <a target="_blank" class="text text-info" href="~/help/index.html#pivot" style="font-size:80%">什么是【单字条目】?</a></h4>
                <div class="col-sm-12">
                    <input class="checkbox-inline" asp-for="IsPivotRow" /> 这行是【单字条目】
                </div>
                
                <div id="PivotRowSpecificFields" >
                    <div class="col-sm-12">
                        偏旁： <input class="form-control" asp-for="Radical" />
                    </div>
                    <div class="col-sm-12">
                        国语注音： <input class="form-control" asp-for="BoPoMoFo" />
                    </div>
                </div>

            </div>
            
        </div>
        <div class="col-md-6">
            <h3>英文</h3>
             
            <input class="form-control" asp-for="TextEnglish" />
        </div>
    </div>

    @if ((bool)ViewData["Admin"])
    {
        <div class="row">
            Flag: @(Model.FlagType?.ToString() ?? "NULL")
        </div>
        <a class="btn btn-warning" asp-controller="Admin" asp-action="UnsetGroupError" asp-route-id="@Model.GroupId">消除标记</a>
        <a class="btn btn-danger" asp-controller="Admin" asp-action="GroupDelete" asp-route-id="@Model.GroupId">删除</a>
    }
    @if (!isAdmin && isReview)
    {
        // 众包校对
        // 如果校对的时候又修改了
        // 显示提示
        <div class="row">
            <a id="promptModified"></a>
        </div>
    }

    <div class="row">
        <div class="col-md-8">
            @if (!isReview)
            {
                <a asp-controller="CrowdSource"
                   asp-action="ReportError"
                   asp-route-GroupId="@Model.GroupId"
                   class="btn btn-danger">图片切割错误 / 空白</a>
            }
        </div>
        <div class="col-md-4">
            @if (isReview)
            {
                <input type="hidden" name="Review" id="Review" value="true" />
            }
            @if (isAdmin) {
                <input type="hidden" name="Admin" id="Admin" value="true" />
            }

            @if (!isAdmin && !isReview)
            {
                // 众包录入
                <a asp-controller="CrowdSource"
                   asp-action="EditGroup"
                   class="btn btn-warning"
                   asp-route-id="">换一条</a>
            }
            else if (!isAdmin && isReview)
            {
                // 众包校对
                <a asp-controller="CrowdSource"
                   asp-action="ReviewGroup"
                   class="btn btn-warning"
                   asp-route-id="">换一条</a>
            }

            @if (!isAdmin && !isReview)
            {
                // 众包录入
                <button type="submit" class="btn btn-primary btn-lg">提交 & 下一条(ENTER)</button>
            }
            else if (!isAdmin && isReview)
            {
                // 众包校对
                <a id="btnReview" asp-controller="CrowdSource"
                   asp-action="ReviewGroupSubmit"
                   class="btn btn-success btn-lg"
                   asp-route-groupId="@Model.GroupId">这条没错</a>
              
                <button id="btnSubmit" type="submit" class="btn btn-primary btn-lg" style="display:none;">保存修改</button>
            }
            else
            {
                // 编辑状态
                <button type="submit" class="btn btn-success">保存修改</button>
            }
        </div>
    </div>
</form>

@if (isReview)
{
    <style>
        body {
            background: #c8e6c9;
        }
    </style>
} 
