@{
    ViewData["Title"] = "队列管理";
}
@using CrowdSource.Services;
<a class="btn btn-danger" asp-controller="Queue" asp-action="Reload">Reload 队列</a>

<h2>待录入</h2>

<table class="table table-striped">
    <tr>
        <th>GroupId</th>
        <th>Added</th>
    </tr>
    @foreach (var i in (IEnumerable<QueueMember>)ViewData["ToDo"]) {
    <tr>
        <td>@i.group.GroupId</td>
        <td>@i.added.ToString()</td>
    </tr>
    }
</table>

@{
    var pager = (Pager)ViewData["pager"];
    var prevDisabled = !pager.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !pager.HasNextPage ? "disabled" : "";
}

<a asp-action="List"
   asp-route-page="@(pager.PageIndex - 1)"
   class="btn btn-default @prevDisabled btn">
    Previous
</a>
<a asp-action="List"
   asp-route-page="@(pager.PageIndex + 1)"
   class="btn btn-default @nextDisabled btn">
    Next
</a>

Page @pager.PageIndex / @pager.TotalPages




<h2>录入中</h2>

<table class="table table-striped">
    <tr>
        <th>GroupId</th>
        <th>Added</th>
    </tr>
    @foreach (var i in (IEnumerable<QueueMember>)ViewData["Doing"]) {
        <tr>
            <td>@i.group.GroupId</td>
            <td>@i.added.ToString()</td>
        </tr>
    }
</table>