@using CrowdSource.Services;
@{
    ViewData["Title"] = "首页";
}

@inject IDbConfig Config
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="jumbotron">
    <h1>闽英大辞典 众包数位化</h1>
    <p>一人一笔，为母语做贡献。</p>

    <p>建议使用电脑进行操作。推荐使用最新版本的Chrome / Firefox 浏览器。</p>
    <p>
        <a class="btn btn-success btn-lg" asp-controller="CrowdSource" asp-action="EditGroup" role="button">我来录入</a>
@if (Config.Get("ReviewEnabled") == "true" && (
    SignInManager.IsSignedIn(User) && (User.IsInRole("Administrator") || User.IsInRole("Reviewer")))) 
{
    <a class="btn btn-info btn-lg" asp-controller="CrowdSource" asp-action="ReviewGroup" role="button">我来校对</a>

}

        <a class="text text-info" target="_blank" href="~/help/index.html">请先阅读帮助</a>
    </p>
</div>

<div class="jumbotron">
    <h3>整体录入进度 @ViewData["Done"] / @ViewData["ToDoTotal"]
        <a class="text text-info"  asp-area="" asp-controller="Present" asp-route-id="1" asp-action="PresentGroupsInOneCollection">查看校对完成的条目</a>
    </h3>
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:@ViewData["DonePercent"]%;">
            @ViewData["DonePercent"]%
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4>罗马字 @ViewData["DoneBUC"] / @ViewData["ToDoTotal"]</h4>        
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:@ViewData["DonePercentBUC"]%;">
                    @ViewData["DonePercentBUC"]%
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>汉字 @ViewData["DoneChinese"] / @ViewData["ToDoTotal"]</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:@ViewData["DonePercentChinese"]%;">
                    @ViewData["DonePercentChinese"]%
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>英文 @ViewData["DoneEnglish"] / @ViewData["ToDoTotal"]</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:@ViewData["DonePercentEnglish"]%;">
                    @ViewData["DonePercentEnglish"]%
                </div>
            </div>
        </div>
    </div>
    @if (Config.Get("ReviewEnabled") == "true")
    {
        <h3>整体校对进度 @ViewData["Reviewed"] / @ViewData["ReviewTotal"]
            <a class="text text-info"  asp-area="" asp-controller="Present" asp-route-id="1" asp-action="PresentGroupsInOneCollection">查看校对完成的条目</a></h3> 
        <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:@ViewData["ReviewPercent"]%">
                    @ViewData["ReviewPercent"]%
                </div>
        </div>
    }
</div>


<div class="jumbotron">
@{
   var topContributors = (IEnumerable<Tuple<string,int>>) ViewData["TopContributors"]; 
}
    <h3>贡献排行榜</h3>
    <div class="row">
        <table class="table">
            <tr>
                <th>#</th>
                <th>贡献者</th>
                <th>贡献量 (录入笔数)</th>
            </tr>
            @{var i = 0; }
            @foreach (var contributor in topContributors) {
                <tr>
                    <td>@(++i)</td>
                    <td>@contributor.Item1</td>
                    <td>@contributor.Item2</td>
                </tr>
            }
        </table>
    </div>

</div>